@typeparam T
@using WebShopShared.Models

@code {
    [Parameter]
    public T? Item { get; set; }

    [Parameter]
    public RenderFragment<T> ItemTemplate { get; set; } = null!;

}


@if (Item == null)
{
    <p>Loading item...</p>
} 
else
{
    @ItemTemplate(Item)
}
