@page "/products/{Id:int}"
@using WebShopShared.Interfaces
@using WebShopShared.Models
@using WebShopFrontend.Components.ProductComponents


<div class="product-container">
	<div class="product-list">

		<LoadSingleProduct Item="_product">
			<ItemTemplate>
				<div class="product-item">
					<img src="@context.Url" />
				</div>
			</ItemTemplate>
		</LoadSingleProduct>
	</div>
</div>

@code {
	private ProductDto _product { get; set; } = null!;

	[Parameter]
	public int Id { get; set; }
	[Inject]
	private IProductService _productService { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		if (_productService == null)
		{
			throw new InvalidOperationException("ProductService is not available");
		}

		_product = await _productService.GetProduct(Id);
	}

}
