@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using WebShopFrontend.Services
@inject WebshopAuthenticationStateProvider _authStateProvider

<div class="page">

    <header class="header">
        <div class="container">
            <NavMenu />
        </div>
    </header>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer>
    <p>©Hoangs Shop</p>
</footer>






