<div class="navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-content">
            <a class="navbar-brand" href="/">Hoangs Shop</a>

            <nav class="navbar-nav">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="nav-link" href="products">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Products
                </NavLink>
                <NavLink class="nav-link" href="contact">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Contact
                </NavLink>
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
                <NavLink class="nav-link" href="register">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register
                </NavLink>
                <AuthorizeView>
                <NavLink class="nav-link" href="cart">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cart
                </NavLink>
                </AuthorizeView>
            </nav>
        </div>
    </div>
</div>
