@page "/checkout"
@using WebShopShared.Models
@using WebShopFrontend.Services
@using WebShopFrontend.Interfaces

<h3>Checkout</h3>

<PurchaseForm T="OrderProductDetailsDto" Items="_orderProducts" />

@code {
    private List<OrderProductDetailsDto> _orderProducts = new List<OrderProductDetailsDto>();

    [Inject]
    private IOrderService? _orderService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _orderProducts = await _orderService.GetOrderProducts();

    }
}
