@page "/products"
@rendermode InteractiveServer
@using WebShopFrontend.Interfaces
@using WebShopShared.Models
@using WebShopFrontend.Components



<div class="product-container">
    <h1>Products</h1>

    <div class="products-list">
        <GenericList Items="_products">
            <ItemTemplate>
                <div class="product-item">
                    <img src="@context.Url" @onclick="() => OnProductClick(context.Id)"/>
                    <p>@context.Name</p>
                    <p>@context.Price kr</p>
                    <AddToCart ProductId="context.Id"></AddToCart>
                </div>
            </ItemTemplate>
        </GenericList>
    </div>

</div>

@code {
    private List<ProductDto> _products = new List<ProductDto>();

    [Inject]
    private IProductService? _productService { get; set; }

    [Inject]
    private NavigationManager? NavManager { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (_productService == null)
        {
            throw new InvalidOperationException("ProductService is not available.");
        }

        _products = await _productService.GetProducts();
    }
    
    
    private void OnProductClick(int productId)
    {
        NavManager?.NavigateTo($"/products/{productId}");
    }
    
}
