@page "/products"
@using WebShopShared.Interfaces
@using WebShopShared.Models
@inject IProductService ProductService
@using WebShopFrontend.Components.ProductComponents


<div class="product-container">
    <h1>Products</h1>
    <LoadProducts OnProductsLoaded="HandleProductsLoaded" />

    <GenericList Items="products">
        <ItemTemplate>
            <div class="product-item">
                @context.Name - @context.Price kr
            </div>
        </ItemTemplate>
    </GenericList>
</div>

@code {
    private List<Product> products = new List<Product>();

    private void HandleProductsLoaded(List<Product> fetchedProducts)
    {
        products = fetchedProducts;
        StateHasChanged();
    }
}
