@using WebShopFrontend.Interfaces
@using WebShopShared.Models
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<div class="add-to-cart">
    <AuthorizeView>
        @if (Product.IsInStock == false)
        {
            <span class="out-of-stock">Out of stock!</span>
        }
        else
        {
            <label for="quantity-input">Quantity</label>
            <input id="quantity-input" type="number" min="1" @bind="_quantity" class="quantity-input" />
            <button type="button" @onclick="AddProductToCart">Add to Cart</button>
        }
    </AuthorizeView>
</div>

@code {
    [Parameter]
    public required ProductDto Product { get; set; }

    [Inject]
    private IOrderService _orderService { get; set; } = null!;

    private int _quantity { get; set; } = 1;

    private async Task AddProductToCart()
    {
        if (_quantity < 1) _quantity = 1;

        var addToCartDto = new AddToCartDto
            {
                Id = Product.Id,
                Quantity = _quantity
            };

        await _orderService.AddToCart(addToCartDto);

    }
}
