@using WebShopFrontend.Interfaces
@using WebShopShared.Models
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <input type="number" min="1" @bind="_quantity" />
    <button @onclick="AddProductToCart">Add to Cart</button>
</AuthorizeView>

@code {
    [Parameter]
    public int ProductId { get; set; }

    [Inject]
    private IOrderService _orderService { get; set; } = null!;

    private int _quantity { get; set; } = 1;

    private async Task AddProductToCart()
    {
        if (_quantity < 1) _quantity = 1;

        var addToCartDto = new AddToCartDto
            {
                Id = ProductId,
                Quantity = _quantity
            };

        await _orderService.AddToCart(addToCartDto);
    }
}
