@using WebShopFrontend.Models
@using System.ComponentModel.DataAnnotations

<h3>Purchase Form</h3>

<EditForm Model="@_purchaseModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Name:</label>
        <InputText @bind-Value="_purchaseModel.Name" />
    </div>
    <div>
        <label>Address:</label>
        <InputText @bind-Value="_purchaseModel.Address" />
    </div>

    <button type="submit">Submit Order</button>
</EditForm>

@code {
    private PurchaseModel _purchaseModel = new PurchaseModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine($"Form Submitted. Name: {_purchaseModel.Name}, Address: {_purchaseModel.Address}");

    }
}
